@using PagedList.Mvc;
@using TMT.ERP.DataAccess.Model
@model PagedList.IPagedList<TMT.ERP.DataAccess.Model.TaxRate>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">

    window.onload = function () {
        $("#cbCheckAll").prop('checked', false);
        $(".cbCheck").prop('checked', false);
    }

    $(document).ready(function () {
        debugger;

        $('.currency').blur(function () {
            $('.currency').formatCurrency();
        });

        $("#TaxRate").find("input:first").focus();

        $('#sPageSize').html($('#hdfPageSize').val());

        if ($('#hidError').val() == "Error") {
            $('#Inform').empty();
            $('#Inform').append('<p style="width: 100%; color: red; font-weight: bold; font-size: 12px; height:0px !important; text-align: center;">@Resources.Resource.Common_Msg_Error</p>');
            $("#Inform").dialog({
                modal: true,
                height: 120,
                width: 'auto',
                autoOpen: false,
                buttons: {
                    'OK': function () {
                        $(this).dialog('close');
                    }
                }
            });
            $('#Inform').dialog('open');
        } else if ($('#hidError').val() != "Success" && $('#hidError').val() != "" && $('#hidError').val() != "Create" && $('#hidError').val() != "Edit") {
            $('#Inform').empty();
            $('#Inform').append('<p style="width: 100%; color: red; font-weight: bold; font-size: 12px; height:0px !important; text-align: center;">@Resources.Resource.Common_Msg_DeleteFail</p>');
            $("#Inform").dialog({
                modal: true,
                height: 120,
                width: 'auto',
                autoOpen: false,
                buttons: {
                    'OK': function () {
                        $(this).dialog('close');
                    }
                }
            });
            $('#Inform').dialog('open');
        } else if ($('#hidError').val() == "Success") {
            $('#Inform').empty();
            $('#Inform').append('<p style="width: 100%;  font-weight: bold; font-size: 12px; height:0px !important; text-align: center;">@Resources.Resource.Common_Msg_DeleteSuccess</p>');
            $("#Inform").dialog({
                modal: true,
                height: 120,
                width: 300,
                autoOpen: false,
                buttons: {
                    'OK': function () {
                        $(this).dialog('close');
                    }
                }
            });
            $('#Inform').dialog('open');
        } else if ($('#hidError').val() == "Create") {
            $('#Inform').empty();
            $('#Inform').append('<p style="width: 100%;  font-weight: bold; font-size: 12px; height:0px !important; text-align: center;">@Resources.Resource.Common_Msg_CreateSuccess</p>');
            $("#Inform").dialog({
                modal: true,
                height: 120,
                width: 300,
                autoOpen: false,
                buttons: {
                    'OK': function () {
                        $(this).dialog('close');
                    }
                }
            });
            $('#Inform').dialog('open');
        } else if ($('#hidError').val() == "Edit") {
            $('#Inform').empty();
            $('#Inform').append('<p style="width: 100%;  font-weight: bold; font-size: 12px; height:0px !important; text-align: center;">@Resources.Resource.Common_Msg_EditSuccess</p>');
            $("#Inform").dialog({
                modal: true,
                height: 120,
                width: 300,
                autoOpen: false,
                buttons: {
                    'OK': function () {
                        $(this).dialog('close');
                    }
                }
            });
            $('#Inform').dialog('open');
        }
    });

    $(document).ready(function () {

        /******************** Code area *************************/
        /******************** Begin Add New Tax Rate ************************/
        $("#btnAddNew").click(function (e) {
            $.ajax({
                type: 'GET',
                url: "/TaxRate/Create/",
                success: function () {
                    custom.Create_Popup("#dialog", "Create New Tax Rate", 378, 'auto', "/TaxRate/Create/", false);
                    $("#dialog").dialog("open");
                }
            });

        });

        /******************** Begin Edit a Tax Rate ************************/
        /*********************/
        $("table > tbody > tr > td > a#TaxEditID").unbind('click').click(function (e) {
            e.preventDefault();
            var _url = "/TaxRate/Edit/" + $(this).find('input').val()
            $.ajax({
                type: 'GET',
                url: _url,
                success: function () {
                    custom.Create_Popup("#dialog", "Edit Tax Rate", 378, 'auto', _url, false);
                    $("#dialog").dialog("open");
                }
            });

        });


        //Delete Tax Rate
        $('#btnDelete').click(function () {
            debugger;
            var valueString = [];
            $("input[name=cbCheck]:checked").each(
            function () {
                valueString.push(this.value);
            });
            if (valueString.length > 0) {
                var DelConfirmed = {
                    delConfirm: valueString,
                }
                $('#confirmDel').empty();
                $('#confirmDel').append('<p style="height:0px !important;text-align:center;">Delete the selected items ?</p>');
                $("#confirmDel").dialog({
                    modal: true,
                    height: 120,
                    autoOpen: false,
                    buttons: {
                        'OK': function () {
                            $(this).dialog('close');
                            $.ajax(
                                {
                                    type: 'POST',
                                    url: '/TaxRate/DeleteConfirmed/',
                                    traditional: true,
                                    data: DelConfirmed,
                                    success: function (data) {
                                        if (data == 'Success') {
                                            location.reload();
                                        } else {
                                            location.reload();
                                        }
                                    }
                                });
                        },
                        'Cancel': function () {
                            $(this).dialog('close');
                        }
                    }
                });
                $('#confirmDel').dialog('open');

            } else {
                $('#Inform').empty();
                $('#Inform').append('<p style="height:0px !important;text-align:center;">You have not selected items to delete !</p>');
                $("#Inform").dialog({
                    modal: true,
                    height: 120,
                    autoOpen: false,
                    buttons: {
                        'OK': function () {
                            $(this).dialog('close');
                        }
                    }
                });
                $('#Inform').dialog('open');
            }
        });
    })

    function SetPageSize(pageSize) {
        debugger;
        $.ajax(
            {
                type: 'POST',
                url: '/TaxRate/SetPageSize',
                data: { "pageSize": pageSize },
                success: function () {
                    location.reload();
                }
            });
    }
</script>

<input type="hidden" value="@ViewBag.PageSize" id="hdfPageSize"/>
<div class="container" style="background: #f7f7f7; color: #252525; font-size: 14px;">
    <div id="con_top">
        <div class="c_container">
            <h3>@Resources.Resource.TaxRate_Title</h3>
        </div>
    </div>
</div>

<input type="hidden" id="hidError" value="@ViewBag.Error">
<div id="con_form">
    <div class="container">
        <div class="c_container">
            <div class="Error"></div>
            <div id="dialog"></div>
            <div id="confirmDel" title="Confirm" style="background: white"></div>
            <div id="Inform" title="Inform" style="background: white"></div>
            <div>
                <input type="button" id="btnAddNew" style="margin-top: 10px;" class="btn btn-defaultxero" value="@Resources.Resource.TaxRate_AddNew" />
                <input type="button" id="btnDelete" style="margin-top: 10px;" class="btn btn-defaultxero" value="@Resources.Resource.TaxRate_Delete" />
                <div style="float: right;">
                    @using (Html.BeginForm("Index", "TaxRate", FormMethod.Get, new { style = "margin:10px !important;" }))
                    {
                        @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Input TaxRate Name or Code", style="margin-top: 2px; margin-right: 10px;"})
                        <input type="submit" id="btnSearch" value="@Resources.Resource.TaxRate_Search" class="btn btn-defaultxero" />
                    }
                </div>
            </div>
            @if (Model.Count > 0)
            {     
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="width: 30px;">
                                <input type="checkbox" id="cbCheckAll" />
                            </th>
                            <th>
                                @Resources.Resource.TaxRate_Name
                            </th>
                            <th>
                                @Resources.Resource.TaxRate_Code
                            </th>
                            <th>
                                @Resources.Resource.TaxRate_Rate (%)
                            </th>
                            <th>
                                @Resources.Resource.TaxRate_Description
                            </th>
                        </tr>
                    </thead>
                    <tbody id="TaxRate">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" id="cbCheck" name="cbCheck" class="cbCheck" value="@item.ID"/>
                            </td>
                            <td style="word-break: break-all; width: 250px;">
                                <a id="TaxEditID" href="#" title="@item.Name">@Html.DisplayFor(modelItem => item.Name)@Html.HiddenFor(modelItem => item.ID)</a>
                            </td>
                            <td style="word-break: break-all; width: 100px;">
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                            <td style="word-break: break-all; width: 100px;">
                                <p class="currency">@item.Rate</p>
                            </td>
                            <td style="word-break: break-all; width: 250px;">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                <div style="display: inline;">
                    <div style="width: 60%; float: left; margin-top: 10px;">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter}))
                    </div>
                    <div style="float: left; margin-top: 10px; margin-left: 225px;">
                        <label style="width: 70px; margin-top: 10px; font-size: 12px; font-weight: bold">@Resources.Resource.Common_PageSize</label>
                        <div id="showpag" class="dropdown" style="float: right;">
                            <span class="dropdown-toggle" data-toggle="dropdown" id="sPageSize"></span>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0);" onclick="SetPageSize(10);">10</a></li>
                                <li><a href="javascript:void(0);" onclick="SetPageSize(25);">25</a></li>
                                <li><a href="javascript:void(0);" onclick="SetPageSize(50);">50</a></li>
                                <li><a href="javascript:void(0);" onclick="SetPageSize(100);">100</a></li>
                                <li><a href="javascript:void(0);" onclick="SetPageSize(200);">200</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
            else
            {
                @Html.Raw("<div id='divNoRecord'>"+ @Resources.Resource.Common_Msg_CountDisplay+ "</div>")
            }
            
        </div>
    </div>
</div>
