@model TMT.ERP.DataAccess.Model.User
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSubmit').click(function () {
            
            var id = $('#hdfUserID').val();
            var nPass = $('#txtPassword').val();
            var oldPass = $('#txtOldPassword').val();
            var confirm = $('#txtConfirmPassword').val();
            if (nPass != confirm) {
                alert("Please input confirm password correct with new password");
                return false;
            } else {
                $.ajax(
                    {
                        type: "POST",
                        url: "/Login/ChangePass/",
                        data: { "id": id, "oldPass": oldPass, "newpass": nPass },
                        success: function (data) {
                            //window.location.href = "/Home/";

                            $('#lblResult').html(data);
                            $('#lblResult').css('display', 'block');
                        }
                    });
            }
        });
    });

    function checkCapsLock(e, divAlert) {
        var key = e.keyCode ? e.keyCode : e.which;
        var shift = e.shiftKey ? e.shiftKey : ((key == 16) ? true : false);

        if (((key >= 65 && key <= 90) && !shift) || ((key >= 97 && key <= 122) && shift)) {
            document.getElementById(divAlert).innerHTML = 'Caps Lock is ON.';
            document.getElementById(divAlert).style.visibility = 'visible';
        }
        else
            document.getElementById(divAlert).style.visibility = 'hidden';
    }
</script>
<fieldset>
    <legend>Change Password Form</legend>
    <input type="hidden" id="hdfUserID" value="@Model.ID"/>
    <div class="editor-label">
        Old password
    </div>
    <div class="editor-field">
        <input type="password" id="txtOldPassword" style="width: 200px;" onkeypress="checkCapsLock(event, 'divCapsLock');" />
    </div>
    <div class="editor-label">
        @Resources.Resource.User_ChangePass_NewPass
    </div>
    <div class="editor-field">
        <input type="password" id="txtPassword" style="width: 200px;" onkeypress="checkCapsLock(event, 'divCapsLock');" />
    </div>

    <div class="editor-label">
        @Resources.Resource.User_ChangePass_ConfirmPass
    </div>
    <div class="editor-field">
        <input type="password" id="txtConfirmPassword" style="width: 200px;" onkeypress="checkCapsLock(event, 'divCapsLock');" />
    </div>
    <p>
        <input type="submit" value="@Resources.Resource.User_ChangePass_Save" id="btnSubmit" />
        <input type="button" value="@Resources.Resource.Common_Back" id="btnBack" onclick="javascript: history.go(-1);" />
    </p>

    <div id="LoginError" style="color: red; padding: 0px 30px 5px 30px">
        <div id="divCapsLock" style="color: Red; visibility: hidden;">Caps Lock is ON.</div>
        <label style="display: none; color: red;" id="lblResult"></label>
    </div>

</fieldset>

