@model IEnumerable<TMT.ERP.DataAccess.Model.SaleInvoiceSetting>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BillDefaultDueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleInvoiceDefaultDueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoicePrefix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditNotePrefix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NextNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDateType.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDateType1.Code)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BillDefaultDueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleInvoiceDefaultDueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoicePrefix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditNotePrefix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NextNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDateType.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDateType1.Code)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
