@model IEnumerable<TMT.ERP.DataAccess.Model.Machine>
@{
    var user = TMT.ERP.Commons.AppContext.RequestVariables.CurrentUser;
    ViewBag.Title = "Edit";
}
<script type="text/javascript">
    var result = 0;
    $(document).ready(function () {

        $('#txtName').focus();

        $('#btnAddNew').click(function () {
            var workCenterId = $('#hdfWorkCenterId').val();
            $.ajax({
                type: 'GET',
                url: "/WorkCenter/GetPagingEdit?page=1&search=None&workcenterId=" + workCenterId,
                success: function () {
                    Create_Popup("#dialog", "Select Machine", 500, 'auto', "/WorkCenter/GetPagingEdit?page=1&search=None&workcenterId=" + workCenterId, false);
                    $("#dialog").dialog("open");
                }
            });
        });

        $('#btnClose').click(function () {
            //location.href = "/WorkCenter/";
            window.location.href = "/WorkCenter/";
        });

        $('#btnSave').click(function () {
            debugger;
            var id = $('#hdfWorkCenterId').val();
            var companyID = $('#CompanyID').val();
            var code = $('#txtName').val();
            var desc = $('#txtDesc').val();
            var isValid = $("#frmEditWorkCenter").valid();
            if (!isValid) {
                return;
            }
            ExistsCode(code);
            if (result == 1) {
                $('#AlertDuplicate').show();
                $('.error').hide();
                return false;
            } else {
                $('#AlertDuplicate').hide();
                var valueString = [];
                $('#tableItem > tbody#bodyItem > tr').each(
                    function () {
                        debugger;
                        var tr = $(this).closest('tr');
                        var machineId = $('input[name=chkMachine]', tr).attr('id');
                        valueString.push(machineId);
                    }

                );
                $.ajax(
                    {
                        type: "POST",
                        url: "/WorkCenter/Save/",
                        traditional: true,
                        dataType: "text",
                        data:
                            {
                                "workCenterId": id,
                                "companyID": companyID,
                                "code": code,
                                "description": desc,
                                "machineID": valueString
                            }, success: function (data) {
                                debugger;
                                if (data == "success") {
                                    var _url = "/WorkCenter/Index/";
                                    var msg = '@Resources.Resource.Common_Msg_EditSuccess';
                                CreatePopupMessage('Inform', msg, '@Resources.Resource.Common_Message', 120, 300, _url);
                            } else {
                                var _url = "/WorkCenter/Index/";
                                var msg = '@Resources.Resource.Common_Msg_Error';
                                CreatePopupMessage('Inform', msg, '@Resources.Resource.Common_Message', 120, 'auto', _url);
                            }
                        }
                });
            }
        });

        jQuery.validator.messages.required = "";
        $("#frmEditWorkCenter").validate({
            invalidHandler: function (e, validator) {
                debugger;
                var errors = validator.numberOfInvalids();
                if (errors) {
                    var errorMiss = '@Resources.Resource.Common_ErrorMissed';
                    var field = '@Resources.Resource.Common_field';
                    var error = '@Resources.Resource.Common_error';
                    var highligh_below = '@Resources.Resource.Common_highligh_below';
                    var message = errors == 1
                        ? errorMiss + ' 1 ' + field + '. ' + highligh_below
                        : errorMiss + ' ' + errors + ' ' + field + 's. ' + highligh_below;
                    $("div.error span").html(message);
                    $("div.error").show();
                    $('#AlertDuplicate').hide();
                } else {
                    $("div.error").hide();
                }
            },
        });
    });
    function Create_Popup(_dialog, _title, _width, _height, _url, _openStatus) {
        $(_dialog).dialog({
            title: _title,
            modal: true,
            autoOpen: _openStatus,
            open: function () {
                $(this).load(_url);
            },
            width: _width,
            height: _height,
            minWidth: _width,
            minHeight: _height,
            resizable: false,
            overlay: true
        });
    }

    function ExistsCode(code) {
        var id = $('#hdfWorkCenterId').val();
        $.ajax({
            type: 'POST',
            url: '/WorkCenter/ExistsCode/',
            data: { "code": code, "id": id },
            success: function (data) {
                debugger;
                if (data == 1) {
                    result = 1;
                }
                if (data == 0)
                    result = 0;
            },
            async: false
        });
    }

</script>

<input type="hidden" id="CompanyID" value="@user.CompanyID" />
<div id="dialog" title="Basic modal dialog"></div>
<div id="confirmDel" title="Confirm!"></div>
<input type="hidden" value="@ViewBag.ID" id="hdfWorkCenterId"/>
<div id="breadcrumb">
    <div class="container">
        <div id="con_top">
            <div class="c_container">
                <h3>@Resources.Resource.WorkCenter_Title</h3>
                <div id="breadcrumbs">
                    <ul>
                        <li><span>Settings</span></li>
                        <li><a href="/WorkCenter/Index/">@Resources.Resource.WorkCenter_Title</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="con_body">
    <div class="container">
        <div class="c_container">
            <div class="cleardiv"></div>
            <div class="error" style="display: none; line-height: 2">
                <img src="~/images/warning.gif" alt="Warning!" width="24" height="24" style="float: left; margin: -5px 10px 0px 0px;" />
                <span></span>.
            </div>
            <div id="AlertDuplicate" style="display: none; line-height: 2">
                <img src="~/images/warning.gif" alt="Warning!" width="24" height="24" style="float: left; margin: 0px 10px 0px 0px;" />
                <label style="color: red; font-weight: normal; font-size: 12px;">@Resources.Resource.Common_Msg_CodeUnique</label>
            </div>
            <div id="divMessage"></div>
            <div id="Inform" title="Inform" style="background: white"></div>
            <div class="cleardiv"></div>
            <input type="submit" id="btnClose" value="Cancel" class="btn btn-defaultxero" />
            <input type="submit" id="btnSave" value="Save" class="btn btn-defaultxero" />
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEditWorkCenter" }))
            {                
                <div class="cleardiv"></div>
                <div style="height: 40px; width: 60%; margin-top: 5px; float: left;">
                    <div style="float: left; line-height: 2.5; width: 20%;">
                        <label>@Resources.Resource.WorkCenter_Code</label>
                    </div>
                    <div>
                        <input type="text" id="txtName" maxlength="40" class="form-control required" style="width: 200px" value="@ViewBag.Code" />
                    </div>
                </div>
                <br />
                <div style="height: 40px; width: 60%; margin-top: 5px; float: left;">
                    <div style="float: left; line-height: 2.5; width: 20%;">
                        <label>@Resources.Resource.WorkCenter_Description</label>
                    </div>
                    <div>
                        <input type="text" id="txtDesc" maxlength="250" class="form-control" style="width: 200px" value="@ViewBag.Description" />
                    </div>
                </div>
@*<label>Work Center:</label>
                @Html.TextBox("txtName", Model.Code, new { @class = "form-control required", style = "width: 200px;" })
                <label>Description:</label>
                @Html.TextBox("txtDesc", Model.Description, new { @class = "form-control required", style = "width: 200px;" })
                *@<div class="cleardiv"></div>
            }
            <h4>List Of Machines Are Using</h4>
            @if (ViewBag.Count > 0)
            {
                <table id="OldList" class="table" style="width: 100%; margin-top: 10px;">
                    <thead>
                        <tr>
                            <th>@Resources.Resource.Machines_Code</th>
                            <th>@Resources.Resource.Machines_Description</th>
                            @*<th style="width: 50px;">Remove</th>*@
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Code</td>
                            <td style="word-break: break-all">@item.Description</td>
                            @*<td><a href="#" class="remove" onclick="RemoveRow(this);">@Html.HiddenFor(modelItem => item.ID) Remove</a></td>*@
                        </tr>
                    }
                </table>
            }
            else
            {
                @Html.Raw("<div id='divNoRecord'>"+ @Resources.Resource.Common_Msg_CountDisplay+ "</div>")
            }
            <h4 style="margin-top: 10px; margin-bottom: 10px;">List Of Machines Need More</h4>
            <div class="cleardiv"></div>
            <div id="tabbody">
                <div id="tabs-1">
                    <div id="itemSelect" style="display: none;">
                        <table id="tableItem">
                            <thead>
                                <tr>
                                    <th>Machine Code</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody id="bodyItem">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="cleardiv"></div>
            <input type="submit" id="btnAddNew" value="Select Machine" class="btn btn-defaultxero" />
            <div class="cleardiv"></div>
        </div>
    </div>
</div>
