@using PagedList.Mvc;
@using TMT.ERP.DataAccess.Model
@model PagedList.IPagedList<TMT.ERP.DataAccess.Model.Role>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sPageSize').html($('#hdfPageSize').val());
        $('#cbCheckAll').unbind('click').click(function () {
            $(".cbCheckRole").prop('checked', $(this).prop('checked'));
        });
        $("#btnAddNew").unbind('click').click(function (e) {
            
            $.ajax({
                type: 'GET',
                url: "/Roles/Create/",
                success: function () {
                    
                    Create_Popup("#dialog", "Create New Role", 600, 400, "/Roles/Create/", false);
                    $("#dialog").dialog("open");
                }
            });

        });
        $("table > tbody > tr > td > a#RoleEditID").unbind('click').click(function (e) {
            e.preventDefault();
            
            var _url = "/Roles/Edit/" + $(this).find('input').val();
            $.ajax({
                type: 'GET',
                url: _url,
                success: function () {
                    Create_Popup("#dialog", "Edit Role", 600, 400, _url, false);
                    $("#dialog").dialog("open");
                }
            });

        });
        $('#btnDeleteRole').unbind('click').click(function (e) {
            
            var valueString = [];
            $("input[name=cbCheckRole]:checked").each(
                function () {
                    valueString.push($(this).val());
                });
            if (valueString.length != 0) {
                $('#confirmDel').empty();
                $('#confirmDel').append('<p style="text-align:center;font-weight:bold;">@Resources.Resource.TMT_Index_ConfirmDel</p>');
                $("#confirmDel").dialog({
                    modal: true,
                    height: 140,
                    autoOpen: false,
                    buttons: {
                        'Agree': function () {
                            deleteObject(valueString);
                            $(this).dialog('close');
                        },
                        Cancel: function () {
                            $(this).dialog('close');
                        }
                    }
                });
                $('#confirmDel').dialog('open');
            } else {
                $('#confirmDel').empty();
                $('#confirmDel').append('<p style="text-align:center;font-weight:bold;">@Resources.Resource.Common_Msg_NotSelectDelete</p>');
                $("#confirmDel").dialog({
                    modal: true,
                    height: 140,
                    autoOpen: false,
                    buttons: {
                        'OK': function () {
                            $(this).dialog('close');
                        }
                    }
                });
                $('#confirmDel').dialog('open');
            }
        });
        
        function deleteObject(value) {
            if (value.length > 0) {
                var role = {
                    roleId: value

                };
                $.ajax(
                    {
                        type: "POST",
                        url: "/Roles/Delete/",
                        traditional: true,
                        data: role,
                        success: function (data) {
                            
                            if (data.length > 0) {
                                var url = '/Roles/';
                                var msg = '@Resources.Resource.Common_Msg_DeleteFail';
                                CreatePopupMessage('divMessage', msg, '@Resources.Resource.Common_Message', 160, 400, url);
                            } else {

                                var urlSuccess = '/Roles/';
                                var msgSuccess = '@Resources.Resource.Common_Msg_DeleteSuccess';
                                CreatePopupMessage('divMessage', msgSuccess, '@Resources.Resource.Common_Message', 160, 400, urlSuccess);
                            }
                        }
                    });
            }
        }
    });
    function SetPageSize(pageSize) {
        
        $.ajax(
            {
                type: 'POST',
                url: '/Roles/SetPageSize',
                data: { "pageSize": pageSize },
                success: function () {
                    location.reload();
                }
            });
    }
    function Create_Popup(_dialog, _title, _width, _height, _url, _openStatus) {
        $(_dialog).dialog({
            title: _title,
            modal: true,
            autoOpen: _openStatus,
            open: function () {
                $(this).load(_url);
            },
            width: _width,
            height: _height,
            minWidth: _width,
            minHeight: _height,
            resizable: false,
            overlay: true
        });
    }
</script>
<input type="hidden" value="@ViewBag.PageSize" id="hdfPageSize"/>
<div id="divMessage" style="background: white;"></div>
<div id="breadcrumb">
    <div class="container">
        <div id="con_top">
            <div class="c_container">
                <h3>@Resources.Resource.Role_Index_List</h3>
                <div id="breadcrumbs">
                    <ul>
                        <li><span>@Resources.Resource.Common_Permission</span></li>
                        <li><a href="/Roles/">@Resources.Resource.Role_Index_List</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cleardiv"></div>
<div id="con_body">
    <div class="container">
        <div class="c_container">
            <input type="button" value="@Resources.Resource.User_AddNew" id="btnAddNew" class="btn btn-defaultxero" />
            <input type="button" value="@Resources.Resource.User_Delete" id="btnDeleteRole" class="btn btn-defaultxero" />
            <div class="cleardiv"></div>
            <div id="dialog" title="Basic modal dialog" style="background: white !important;"></div>
            <div id="confirmDel" title="Confirm!" style="background: white !important;"></div>
            <div id="tabbody">
                <div id="tabs-1">
                    <table id="tblRole">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="cbCheckAll" />
                                </th>
                                <th>
                                    @Resources.Resource.Role_Index_RoleName
                                </th>
                                <th>
                                    @Resources.Resource.Role_Index_Description
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox" id="cbCheckRole" name="cbCheckRole" class="cbCheckRole" value="@item.ID"/>
                                    </td>
                                    <td>
                                        <a id="RoleEditID" title="@item.RoleName">@Html.DisplayFor(modelItem => item.RoleName)@Html.HiddenFor(modelItem => item.ID)</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div style="height: 50px; padding-top: 5px;">
                        <div style="float: left;">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                        </div>
                        <div style="width: 25%; float: right;">
                            <label style="margin-left: 70px; margin-top: 10px;">Showing&nbsp;</label>
                            <div id="showpag" class="dropdown" style="float: right;">
                                <span class="dropdown-toggle" data-toggle="dropdown" id="sPageSize"></span>
                                <ul class="dropdown-menu" style="min-width: 0px !important;max-width: 140px !important;">
                                    <li><a href="javascript:void(0);" onclick="SetPageSize(10);">10</a></li>
                                    <li><a href="javascript:void(0);" onclick="SetPageSize(25);">25</a></li>
                                    <li><a href="javascript:void(0);" onclick="SetPageSize(50);">50</a></li>
                                    <li><a href="javascript:void(0);" onclick="SetPageSize(100);">100</a></li>
                                    <li><a href="javascript:void(0);" onclick="SetPageSize(200);">200</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

