@model IEnumerable<TMT.ERP.DataAccess.Model.Purchase>
@{    
    var user = TMT.ERP.Commons.AppContext.RequestVariables.CurrentUser;
}
<div>
    @Html.Partial("Purchase/_Search")

    @if (Model.ToList().Count > 0)
    {
        <table id="allpurchase" class="table">
            <thead>
                <tr>
                    <th>@Resources.Resource.Purchase_List_Number
                    </th>
                    <th>
                        @Resources.Resource.Purchase_List_Reference
                    </th>
                    <th>
                        @Resources.Resource.Purchase_List_ContactName
                    </th>
                    <th>
                        @Resources.Resource.Purchase_List_Date
                    </th>
                    <th>
                        @Resources.Resource.Purchase_List_DueDate
                    </th>
                    <th>
                        @Resources.Resource.Purchase_List_TotalMoney
                    </th>
                    <th>
                        @Resources.Resource.Purchase_List_Status
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>


                        @if (((user.ID == item.CreatedUserID) && (user.UsersInRoles.ToList().Exists(x => x.Role.RolePermission.ViewAndEditBill == true)))
                             || (user.UsersInRoles.ToList().Exists(x => x.Role.RolePermission.EditBillCreatedByOther == true)))
                        {
                            <td>
                                <a href="/Purchase/Edit/@item.ID" title="@item.ID">@Html.DisplayFor(modelItem => item.Code)</a>
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.Reference)
                        </td>
                        <td>
                            <span class="email">@Html.DisplayFor(modelItem => item.Contact.ContactName)</span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DueDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalMoney)
                            @Html.DisplayFor(modelItem => item.Currency.Code)
                        </td>
                        <td>
                            @{int? sStr = 0;
                              sStr = item.Status;
                              string result = "";
                              switch (sStr)
                              {
                                  case 0:
                                      result = Resources.Resource.SaleInvoice_Create_SaveAsDraft;
                                      break;
                                  case 1:
                                      result = Resources.Resource.SaleInvoice_List_Draft;
                                      break;
                                  case 2:
                                      result = Resources.Resource.SaleInvoice_List_AwaitingApproval;
                                      break;
                                  case 3:
                                      result = Resources.Resource.SaleInvoice_List_AwaitingPayment;
                                      break;
                                  case 4:
                                      result = Resources.Resource.SaleInvoice_List_Paid;
                                      break;
                                  case 5:
                                      result = Resources.Resource.SaleInvoice_List_Repeating;
                                      break;
                                  case -1:
                                      result = Resources.Resource.SaleInvoice_List_Delete;
                                      break;
                              }
                            }
                            @Html.Raw(result)        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="pager">
            <h4>Contains no records </h4>
        </div>
    }

</div>



