@using TMT.ERP.Commons
@using TMT.ERP.DataAccess.Model
@model TMT.ERP.DataAccess.Model.Function
@{
    var user = AppContext.RequestVariables.CurrentUser;
    if (user == null)
    {
        Session.Clear();        
    }
    Layout = null;
}
<script type="text/javascript">
    $(document).ready(function () {
        var user = $('#hdfUserLogin').val();
        if (user == null) {
            
            location.href = "/Login/Logout";
        }        
    });
</script>
<input type="hidden" value="@user.ID" id="hdfUserLogin"/>

<script type="text/javascript">
    $(document).ready(function () {
        custom.Init();
        $('#txtName').focus();
        jQuery.validator.messages.required = "";
        $("#frmCreateFunction").validate({
            invalidHandler: function (e, validator) {
                
                var errors = validator.numberOfInvalids();
                if (errors) {
                    var errorMiss = '@Resources.Resource.Common_ErrorMissed';
                    var field = '@Resources.Resource.Common_field';
                    var error = '@Resources.Resource.Common_error';
                    var highligh_below = '@Resources.Resource.Common_highligh_below';
                    var message = errors == 1
                        ? errorMiss + ' 1 ' + field + '. ' + highligh_below
                        : errorMiss + ' ' + errors + ' ' + field + 's. ' + highligh_below;
                    $("div.error span").html(message);
                    $("div.error").show();
                } else {
                    $("div.error").hide();
                }
            },
        });

        $('#btnCreate').click(function () {
            
            var isValid = $("#frmCreateFunction").valid();
            if (!isValid) {
                return;
            }


            var name = $('#txtName').val();
            var description = $('#txtDescription').val();
            var featureId = $('#ddlFeature').val();
            $.ajax(
                {
                    type: "POST",
                    url: "/Function/Save/",
                    data:
                        {
                            "functionId": 0,
                            "name": name,
                            "description": description,
                            "featureId": featureId
                        },
                    success: function () {
                        location.reload();
                    }

                });
        });
        $('#btnClose').unbind('click').click(function () {
            
            $('#dialog').dialog('close');
            return false;
        });
    });
</script>
@{
    var feature = ViewBag.FeatureID as List<Feature>;
}
<div class="cleardiv"></div>
<div class="error" style="display: none;">
    <img src="~/images/warning.gif" alt="Warning!" width="24" height="24" style="float: left; margin: -5px 10px 0px 0px;" />
    <span></span>.<br clear="all" />
</div>
<div id="divMessage"></div>
<div class="cleardiv"></div>
<fieldset>
    @using (Html.BeginForm("", "Function", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmCreateFunction" }))
    {
        <legend>@Resources.Resource.Function_IndexCreate</legend>
        <label>
            @Resources.Resource.Function_Name
        </label>
        <div class="editor-field">
            @Html.TextBox("txtName", null, String.Empty, new { @class = "required",style="width:200px;" })
        </div>
        <div class="cleardiv"></div>
        <label>
            @Resources.Resource.Function_Description
        </label>
        <div class="editor-field">
            @Html.TextArea("txtDescription", new {style="width:200px;height:150px;" })            
        </div>
        <div class="cleardiv"></div>
        <label>
            @Resources.Resource.Function_Feature
        </label>
        <div class="editor-field">
            <select id="ddlFeature" name="ddlFeature" style="width: 200px; height: 25px;" class="required">
                <option value="">@Resources.Resource.Common_SelectItem</option>
                @if (feature != null && feature.Count > 0)
                {
                    foreach (var item in feature)
                    {
                        <option value="@item.ID">@item.FeatureName</option>
                    }
                }
            </select>
        </div>
        <div class="cleardiv"></div>
    }
    <div class="cleardiv"></div>
    <div class="cleardiv"></div>
    <input type="submit" value="@Resources.Resource.Function_AddNew" id="btnCreate" class="btn btn-defaultxero" />
    <input type="submit" value="@Resources.Resource.Function_Close" id="btnClose" class="btn btn-defaultxero" />
</fieldset>

