@using PagedList.Mvc
@using TMT.ERP.DataAccess.Model
@model PagedList.IPagedList<TMT.ERP.DataAccess.Model.StockOutCard>
@{
    var ooStocks = ViewBag.Stocks as List<StockOutCard>;
    var draft = 0;
    var done = 0;
    if (ooStocks != null)
    {
        draft = ooStocks.Count(x => x.Status < 2);
        done = ooStocks.Count(x => x.Status == 2);
    }
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#sPageSize').html($('#hdfPageSize').val());
        var countModel = $('#hdfCountList').val();
        if (countModel == 0) {
            $('#error').css('display', 'block');
            $('#tabs-1').css('display', 'none');
            $('#function').css('display', 'none');
        } else {
            $('#error').css('display', 'none');
        }
        $('#btnSearch').click(function () {
            
            var value = $('#searchString').val();
            if (value == null || value == undefined || value == "") {
                location.href = "/OutgoingShipment/";
                return false;
            }
        });
        jQuery.validator.messages.required = "";
        $("#frmOutgoingIndex").validate({
            invalidHandler: function (e, validator) {
                
                var errors = validator.numberOfInvalids();
                if (errors) {
                    var errorMiss = '@Resources.Resource.Common_ErrorMissed';
                    var field = '@Resources.Resource.Common_field';
                    var error = '@Resources.Resource.Common_error';
                    var highligh_below = '@Resources.Resource.Common_highligh_below';
                    var message = errors == 1
                        ? errorMiss + ' 1 ' + field + '. ' + highligh_below
                        : errorMiss + ' ' + errors + ' ' + field + 's. ' + highligh_below;
                    $("div.error span").html(message);
                    $("div.error").show();
                } else {
                    $("div.error").hide();
                }
            },
        });
    });
    function SetPageSize(pageSize) {
        
        $.ajax(
            {
                type: 'POST',
                url: '/OutgoingShipment/SetPageSize',
                data: { "pageSize": pageSize },
                success: function () {
                    location.reload();
                }
            });
    }

    function SortDate(value) {
        
        $.ajax(
            {
                type: "POST",
                url: "/OutgoingShipment/SetDateAsc/",
                data:
                    {
                        "value": value
                    },
                success: function () {
                    location.reload();
                }
            });
    }
</script>
<input type="hidden" value="@ViewBag.PageSize" id="hdfPageSize"/>
<input type="hidden" value="@Model.Count" id="hdfCountList"/>
<div id="breadcrumb">
    <div class="container">
        <div id="con_top">
            <div class="c_container">
                <h3>@Resources.Resource.OutgoingShipment_List</h3>
                <div id="breadcrumbs">
                    <ul>
                        <li><span>@Resources.Resource.OutgoingShipment_Inventory</span></li>
                        <li><span>@Resources.Resource.OutgoingShipment_Stock</span></li>
                        <li><a href="/OutgoingShipment/Index">@Resources.Resource.OutgoingShipment_List</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="con_body">
    <div class="container">
        <div class="c_container">
            <div class="cleardiv"></div>
            <div class="error" style="display: none;">
                <img src="~/images/warning.gif" alt="Warning!" width="24" height="24" style="float: left; margin: -5px 10px 0px 0px;" />
                <span></span>.
            </div>
            <div id="divMessage"></div>
            <div class="cleardiv"></div>
            <div style="float: right; display: inline;">
                @using (Html.BeginForm("Index", "OutgoingShipment", FormMethod.Get, new { id = "frmOutgoingIndex" }))
                {
                    @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { style = "width:175px !important;height:30px !important;", placeholder = "Please insert Shipment No" })
                    <input type="submit" id="btnSearch" value="@Resources.Resource.IncomingShipment_Index_Search" class="btn btn-defaultxero" />
                }
            </div>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="/OutgoingShipment/Index/">
                        @Resources.Resource.OutGoing_Index_Draft
                        <span>(@draft)</span>
                    </a>
                </li>
                <li>
                    <a href="/OutgoingShipment/History/">
                        @Resources.Resource.OutGoing_Index_History
                        <span>(@done)</span>
                    </a>
                </li>
            </ul>
            <div class="cleardiv"></div>
            <div id="tabbody">
                <div id="tabs-1">
                    <table id="tblDraft" class="tableOver">
                        <thead>
                            <tr>
                                <th>@Resources.Resource.OutGoing_View_ShipmentNo</th>
                                <th>
                                    @*@Resources.Resource.OutGoing_Index_Type*@
                                    Qty Req
                                </th>
                                <th>@Resources.Resource.OutGoing_Index_SourceNo</th>
                                <th>
                                    @*@Resources.Resource.OutGoing_Index_SODate*@
                                    Source Date
                                    <span style="float: right;">
                                        <a href="javascript:void(0);" onclick="SortDate('desc');">
                                            <img src="~/Images/sort_asc.png" />
                                        </a>
                                        <a href="javascript:void(0);" onclick="SortDate('asc');">
                                            <img src="~/Images/sort_desc.png" />
                                        </a>
                                    </span>
                                </th>
                                <th>@Resources.Resource.OutGoing_Index_ReceivedStock</th>
                                <th>@Resources.Resource.OutGoing_Index_Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @{ 
                                var type = item.Type;
                                switch (type)
                                {
                                    case 0:
                                            <a href="/OutgoingShipment/OutForSaleInvoice?stockOutCardId=@item.ID&type=1">@item.Code</a>
                                        break;
                                    case 1:
                                            <a href="/OutgoingShipment/OutForWorkOrder?stockoutCardId=@item.ID&type=1">@item.Code</a>
                                        break;
                                    case 2:
                                            <a href="/OutgoingShipment/OutForStockMovement?stockOutCardId=@item.ID&type=1">@item.Code</a>
                                        break;
                                }
                                        }
                                    </td>
                                    <td>
                                        @item.StockOutCardsDetails.Sum(x => x.Quantity)
                                    </td>
                                    <td>
                                        @if (ViewBag.SourceNo(Convert.ToInt32(item.TargetID), Convert.ToInt32(item.Type)) != null && item.Type!=2)
                                        {
                                            @ViewBag.SourceNo(Convert.ToInt32(item.TargetID), Convert.ToInt32(item.Type))
                                        }
                                    </td>
                                    <td>
                                        @TMT.ERP.Commons.Utility.DateFormat(Convert.ToDateTime(item.CreatedDate))
                                    </td>
                                    <td>
                                        @if (item.Stock.Name != null)
                                        {
                                            @Html.DisplayFor(modelItem => item.Stock.Name)
                                        }
                                    </td>

                                    <td>
                                        @if (item.Status != null)
                                        {
                                            @(item.Status == 0 ? Html.Raw("Draft") : Html.Raw("Partial"))
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div style="height: 50px; padding-top: 5px;">
                        <div style="float: left;">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
                        </div>
                        <div style="width: 25%; float: right;">
                            <label style="margin-left: 70px; margin-top: 10px;">Showing&nbsp;</label>
                            <div id="showpag" class="dropdown" style="float: right;">
                                <span class="dropdown-toggle" data-toggle="dropdown" id="sPageSize"></span>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);" onclick="SetPageSize(10);">10</a></li>
                                    <li><a href="javascript:void(0);" onclick="SetPageSize(25);">25</a></li>
                                    <li><a href="javascript:void(0);" onclick="SetPageSize(50);">50</a></li>
                                    <li><a href="javascript:void(0);" onclick="SetPageSize(100);">100</a></li>
                                    <li><a href="javascript:void(0);" onclick="SetPageSize(200);">200</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cleardiv"></div>
                <div id="error">
                    <label>
                        @Resources.Resource.SaleInvoices_Error
                    </label>
                </div>
                <div class="cleardiv"></div>
            </div>
        </div>
    </div>
</div>
