@using PagedList.Mvc
@using TMT.ERP.DataAccess.Model
@model PagedList.IPagedList<TMT.ERP.DataAccess.Model.FixedAsset>

@{
    ViewBag.Title = "Index";
    var id = TMT.ERP.Commons.AppContext.SessionVariables.CurrentUserID;
}

<script type="text/javascript">

    window.onload = function () {
        $("#cbCheckAll").prop('checked', false);
        $(".cbCheck").prop('checked', false);
    }

    $(document).ready(function () {
        

        $('.currency').blur(function () {
            $('.currency').formatCurrency();
        });

        $("#Assets").find("input:first").focus();

        $('#sPageSize').html($('#hdfPageSize').val());

        if ($('#hidError').val() == "Error") {
            $('#Inform').empty();
            $('#Inform').append('<p style="width: 100%; color: red; font-weight: bold; font-size: 12px; height:0px !important; text-align: center;">@Resources.Resource.Common_Msg_Error</p>');
            $("#Inform").dialog({
                modal: true,
                height: 120,
                width: 'auto',
                autoOpen: false,
                buttons: {
                    'OK': function () {
                        $(this).dialog('close');
                    }
                }
            });
            $('#Inform').dialog('open');
        } else if ($('#hidError').val() != "Success" && $('#hidError').val() != "") {
            $('#Inform').empty();
            $('#Inform').append('<p style="width: 100%; color: red; font-weight: bold; font-size: 12px; height:0px !important; text-align: center;">@Resources.Resource.Common_Msg_DeleteFail</p>');
            $("#Inform").dialog({
                modal: true,
                height: 120,
                width: 'auto',
                autoOpen: false,
                buttons: {
                    'OK': function () {
                        $(this).dialog('close');
                    }
                }
            });
            $('#Inform').dialog('open');
        } else if ($('#hidError').val() == "Success") {
            $('#Inform').empty();
            $('#Inform').append('<p style="width: 100%;  font-weight: bold; font-size: 12px; height:0px !important; text-align: center;">@Resources.Resource.Common_Msg_DeleteSuccess</p>');
            $("#Inform").dialog({
                modal: true,
                height: 120,
                width: 300,
                autoOpen: false,
                buttons: {
                    'OK': function () {
                        $(this).dialog('close');
                    }
                }
            });
            $('#Inform').dialog('open');
        } 
    });

$(document).ready(function () {

    /******************** Code area *************************/
    /******************** Begin Add New FixedAsset ************************/
    $("#btnAddNew").click(function (e) {
        
        location.href = "/FixedAssets/Create/";
    });

    /******************** Begin Edit a FixedAsset ************************/
    /*********************/
    $("table > tbody > tr > td > a#AssetEditID").unbind('click').click(function (e) {
        
        location.href = "/FixedAssets/Edit?id=" + $(this).find('input').val() + "&&tab=0";
    });

    //Calculate Depreciation 
    $("#btnDepreciation").click(function (e) {
        
        location.href = "/FixedAssets/Depreciation/";
    });

    //Delete Fixed Asset
    $('#btnDelete').click(function () {
        
        var valueString = [];
        $("input[name=cbCheck]:checked").each(
        function () {
            valueString.push(this.value);
        });
        var tab = 1;
        if (valueString.length > 0) {
            var DelConfirmed = {
                delConfirm: valueString,
                tab: tab,
            }
            $('#confirmDel').empty();
            $('#confirmDel').append('<p style="height:0px !important;text-align:center;">You have not selected items to delete!</p>');
            $("#confirmDel").dialog({
                modal: true,
                height: 140,
                autoOpen: false,
                buttons: {
                    'OK': function () {
                        $(this).dialog('close');
                        $.ajax(
                            {
                                type: 'POST',
                                url: '/FixedAssets/DeleteConfirmed/',
                                traditional: true,
                                data: DelConfirmed,
                                success: function (data) {
                                    location.reload();
                                }
                            });
                    },
                    'Cancel': function () {
                        $(this).dialog('close');
                    }
                }
            });
            $('#confirmDel').dialog('open');
        } else {
            $('#Inform').empty();
            $('#Inform').append('<p style="height:0px !important;text-align:center;">You have not selected items to Delete!</p>');
            $("#Inform").dialog({
                modal: true,
                height: 140,
                autoOpen: false,
                buttons: {
                    'OK': function () {
                        $(this).dialog('close');
                    }
                }
            });
            $('#Inform').dialog('open');
        }
    });

    //Register Pending Items
    $('#btnRegister').click(function () {
        
        var valueString = [];
        $("input[name=cbCheck]:checked").each(
        function () {
            valueString.push(this.value);
        });
        var tab = 1;
        if (valueString.length > 0) {
            var DelConfirmed = {
                delConfirm: valueString,
                tab: tab
            }
            $('#confirmDel').empty();
            $('#confirmDel').append('<p style="height:0px !important;text-align:center;">Register the selected items ?</p>');
            $("#confirmDel").dialog({
                modal: true,
                height: 140,
                autoOpen: false,
                buttons: {
                    'OK': function () {
                        $(this).dialog('close');
                        $.ajax(
                        {
                            type: 'POST',
                            url: '/FixedAssets/Registeritems/',
                            traditional: true,
                            data: DelConfirmed,
                            success: function (data) {
                                window.location.href = "/FixedAssets/Register/";
                            }
                        });
                    },
                    'Cancel': function () {
                        $(this).dialog('close');
                    }
                }
            });
            $('#confirmDel').dialog('open');
        } else {
            $('#Inform').empty();
            $('#Inform').append('<p style="height:0px !important;text-align:center;">You have not selected items to Register!</p>');
            $("#Inform").dialog({
                modal: true,
                height: 140,
                autoOpen: false,
                buttons: {
                    'OK': function () {
                        $(this).dialog('close');
                    }
                }
            });
            $('#Inform').dialog('open');
        }
    });

    //Checked all or Uncheck all element is checkbox
    $('#cbCheckAll').click(function () {
        $(".cbCheck").prop('checked', $(this).prop('checked'));
    });
});

function SetPageSize(pageSize) {
    
    $.ajax(
        {
            type: 'POST',
            url: '/FixedAssets/SetPageSize',
            data: { "pageSize": pageSize },
            success: function () {
                location.reload();
            }
        });
}
</script>

<input type="hidden" value="@ViewBag.PageSize" id="hdfPageSize"/>
<div class="container" style="background: #f7f7f7; color: #252525; font-size: 14px;">
    <div id="con_top">
        <div class="c_container">
            <h3>@Resources.Resource.FixedAsset_Title</h3>
            <div id="breadcrumbs">
                <ul>
                    <li><span>Accounting</span></li>
                    <li><a href="/Contacts/Index/">@Resources.Resource.FixedAsset_Title</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hidError" value="@ViewBag.Error">
<div id="con_form">
    <div class="container">
        <div class="c_container">
            <div class="Error"></div>
            <div id="dialog" title="Basic modal dialog"></div>
            <div id="confirmDel" title="Confirm" style="background: white"></div>
            <div id="Inform" title="Inform" style="background: white"></div>
            <div style="margin-top: 10px;">
                <input style="margin-top: 10px;" type="button" id="btnAddNew" class="btn btn-defaultxero" value="@Resources.Resource.FixedAsset_AddNew"/>
                <input style="margin-top: 10px;" type="button" id="btnDepreciation" class="btn btn-defaultxero" value="@Resources.Resource.FixedAsset_Depreciation" />
            </div>
            @{
                var db = new ErpEntities();
                List<FixedAsset> asset = db.FixedAssets.ToList();
            }
            <ul style="margin-bottom: 20px; margin-top: 10px; width: 100%;" class="group nav nav-tabs">
                <li class="active">
                    <a href="/FixedAssets/Index/">Pending Items ( @asset.Count(a => a.Status == 0) )</a></li>
                <li class="selected">
                    <a href="/FixedAssets/Register/">Registered Items ( @asset.Count(a => a.Status == 1) )</a></li>
                <li class="selected">
                    <a href="/FixedAssets/Dispose/">Sold & Disposed Items ( @asset.Count(a => a.Status == 2) )</a></li>
            </ul>

            <div class="bovien" style="margin-bottom: 10px;">
                <input type="button" id="btnRegister" class="btn btn-defaultxero" value="@Resources.Resource.FixedAsset_Register"/>
                <input type="button" id="btnDelete" class="btn btn-defaultxero" value="@Resources.Resource.FixedAsset_Delete"/>
                <div style="float: right;">
                    @using (Html.BeginForm("Index", "FixedAssets", FormMethod.Get, new { style = "margin:0px !important;" }))
                    {
                        @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Input Item Name", style = "margin-top: 2px; margin-right: 10px;" })
                        <input type="submit" id="btnSearch" style="margin-right: 2px;" value="@Resources.Resource.Category_Search" class="btn btn-defaultxero" />
                    }
                </div>
            </div>
            @if (Model.Count > 0)
            {
                <table id="FixedAsset" style="width: 100%; margin-bottom: 10px;">
                    <thead>
                        <tr>
                            <th style="width: 30px;">
                                <input type="checkbox" id="cbCheckAll" />
                            </th>
                            <th>
                                @Resources.Resource.FixedAsset_ItemName
                            </th>
                            <th>
                                @Resources.Resource.FixedAsset_ItemCode
                            </th>
                            <th>
                                @Resources.Resource.FixedAsset_Account
                            </th>
                            <th>
                                @Resources.Resource.FixedAsset_PurchaseDate
                            </th>
                            <th>
                                @Resources.Resource.FixedAsset_PurchasePrice
                            </th>
                        </tr>
                    </thead>
                    <tbody id="Assets">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" id="cbCheck" name="cbCheck" class="cbCheck" value="@item.ID"/>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td style="word-break: break-all">
                                    <a id="AssetEditID" href="#">@Html.DisplayFor(modelItem => item.Code)@Html.HiddenFor(modelItem => item.ID)</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Account.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PurchaseDate)
                                </td>
                                <td>
                                    <p class="currency">@Html.DisplayFor(modelItem => item.PurchasePrice)</p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div style="display: inline;">
                    <div style="width: 60%; float: left; margin-top: 10px;">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
                    </div>
                    <div style="float: left; margin-top: 10px; margin-left: 225px;">
                        <label style="width: 70px; margin-top: 10px; font-size: 12px; font-weight: bold">@Resources.Resource.Common_PageSize</label>
                        <div id="showpag" class="dropdown" style="float: right;">
                            <span class="dropdown-toggle" data-toggle="dropdown" id="sPageSize"></span>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0);" onclick="SetPageSize(10);">10</a></li>
                                <li><a href="javascript:void(0);" onclick="SetPageSize(25);">25</a></li>
                                <li><a href="javascript:void(0);" onclick="SetPageSize(50);">50</a></li>
                                <li><a href="javascript:void(0);" onclick="SetPageSize(100);">100</a></li>
                                <li><a href="javascript:void(0);" onclick="SetPageSize(200);">200</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
            else
            {
                @Html.Raw("<div id='divNoRecord'>"+ @Resources.Resource.Common_Msg_CountDisplay+ "</div>")
            }
        </div>
    </div>
</div>
