@using PagedList.Mvc;
@using TMT.ERP.DataAccess.Model
@model PagedList.IPagedList<TMT.ERP.DataAccess.Model.SaleInvoice>
@{
    var user = TMT.ERP.Commons.AppContext.RequestVariables.CurrentUser;
}
<script type="text/javascript">
    $(document).ready(function () {
        SetTypeSearch("0");
        $('#searchString').val('');
        $('#createdate').val('');
        $('#duadate').val('');
        $('#sPageSize').html($('#hdfPageSize').val());
        var countModel = $('#hdfCountList').val();
        if (countModel == 0) {
            $('#error').css('display', 'block');
            $('#tabs-1').css('display', 'none');
            $('#function').css('display', 'none');
        } else {
            $('#error').css('display', 'none');
        }
        $('#aClearDraft').click(function () {            
            $('#searchString').val('');
            $('#type').val(0);
            $('#createdate').val('');
            $('#duadate').val('');
        });
        $('#type').change(function () {
            var x = $(this).val();
            SetTypeSearch(x);
        });
        $('#cbCheckAllDraft').click(function () {
            $("input[name=chkDraft]").prop('checked', $(this).prop('checked'));
        });
        $('#btnSubmitApp').click(function () {            
            var valueString = [];
            $("input[name=chkDraft]:checked").each(
                function () {
                    valueString.push(this.id);
                }
            );
            var value = {
                saleId: valueString,
                status: '1',
            };

            if (valueString.length == 0) {
                var msgError = '@Resources.Resource.Common_SelectItem_SubmitForApproval';
                var urlError = '/SaleInvoice/Draft/';
                CreatePopupMessage('divMessage', msgError, '@Resources.Resource.Common_Message', 120, 400, urlError);

            } else {
                $.ajax(
                    {
                        type: 'POST',
                        url: '/SaleInvoice/SubmitForApproval/',
                        traditional: true,
                        data: value,
                        success: function () {
                            $.ajax(
                                {
                                    type: 'POST',
                                    success: function () {
                                        var msgSuccess = '@Resources.Resource.Common_Msg_SubmitSuccess';
                                        var urlSuccess = '/SaleInvoice/Awaiting/';
                                        CreatePopupMessage('divMessage', msgSuccess, '@Resources.Resource.Common_Message', 120, 400, urlSuccess);
                                    }
                                });
                        }
                    });
                    }
        });

        $('#btnApproved').click(function () {            
            var userId = $('#hdfUserID').val();
            var valueString = [];
            $("input[name=chkDraft]:checked").each(
                function () {
                    valueString.push(this.id);
                }
            );
            var value = {
                saleId: valueString,
                status: '2',
            };

            if (valueString.length == 0) {
                var msgErrorApproved = '@Resources.Resource.Common_SelectItem_SubmitForApproval';
                var urlErrorApproved = '/SaleInvoice/Draft/';
                CreatePopupMessage('divMessage', msgErrorApproved, '@Resources.Resource.Common_Message', 120, 400, urlErrorApproved);
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '/SaleInvoice/SubmitForApproval/',
                    traditional: true,
                    data: value,
                    success: function (data) {                        
                        var msgSuccessStockOut = '@Resources.Resource.Common_Msg_Approved';
                        if (data != "success") {
                            msgSuccessStockOut += '<br/>';
                            msgSuccessStockOut += '@Resources.Resource.Common_Msg_ShipmentNoFirstSale';
                            msgSuccessStockOut += data;
                            msgSuccessStockOut += '@Resources.Resource.Common_Msg_ShipmentNoLastSale';
                        }
                        var urlSuccessStockOut = '/SaleInvoice/AwaitingPayment/';
                        CreatePopupMessage('divMessage', msgSuccessStockOut, '@Resources.Resource.Common_Message', 160, 400, urlSuccessStockOut);
                    }
                });

            }
        });
        $('#btnDelete').click(function () {            
            var valueString = [];
            $("input[name=chkDraft]:checked").each(
                function () {
                    valueString.push(this.id);
                }
            );
            var value = {
                saleId: valueString,
                status: '-1',
            };
            if (valueString.length != 0) {
                $('#confirmDel').empty();
                $('#confirmDel').append('<p style="text-align:center;font-weight:bold;">@Resources.Resource.TMT_Index_ConfirmDel</p>');
                $("#confirmDel").dialog({
                    modal: true,
                    height: 140,
                    autoOpen: false,
                    buttons: {
                        'Agree': function () {
                            _Delete(value);
                        },
                        Cancel: function () {
                            $(this).dialog('close');
                        }
                    }
                });
                $('#confirmDel').dialog('open');
            } else {
                $('#confirmDel').empty();
                $('#confirmDel').append('<p style="text-align:center;font-weight:bold;">@Resources.Resource.Common_Msg_NotSelectDelete</p>');
                $("#confirmDel").dialog({
                    modal: true,
                    height: 140,
                    autoOpen: false,
                    buttons: {
                        'OK': function () {
                            $(this).dialog('close');
                        }
                    }
                });
                $('#confirmDel').dialog('open');
            }
        });
    });
    function _Delete(value) {
        $.ajax(
                    {
                        type: 'POST',
                        url: '/SaleInvoice/SubmitForApproval/',
                        traditional: true,
                        data: value,
                        success: function () {
                            $.ajax(
                                {
                                    type: 'POST',
                                    success: function () {
                                        window.location.href = '/SaleInvoice/Draft/';
                                    }
                                });
                        }
                    });
    }
    function SetPageSize(pageSize) {        
        $.ajax(
            {
                type: 'POST',
                url: '/SaleInvoice/SetPageSize',
                data: { "pageSize": pageSize },
                success: function () {
                    location.reload();
                }
            });
    }
    function SetTypeSearch(typeSearch) {
        $.ajax(
            {
                type: "POST",
                url: "/SaleInvoice/SetTypeSearch/",
                data:
                    {
                        "typeSearch": typeSearch
                    },
                success: function () {

                }
            });
    }
    function SortDate(value) {        
        $.ajax(
            {
                type: "POST",
                url: "/SaleInvoice/SetDateAsc/",
                data:
                    {
                        "value": value
                    },
                success: function () {
                    location.reload();
                }
            });
    }
</script>
<input type="hidden" value="@user.ID" id="hdfUserID"/>
<input type="hidden" value="@ViewBag.PageSize" id="hdfPageSize"/>
<input type="hidden" value="@Model.Count" id="hdfCountList"/>
<div id="divMessage" style="background: white;"></div>
<div id="breadcrumb">
    <div class="container">
        <div id="con_top">
            <div class="c_container">
                <h3>@Resources.Resource.Sale_SaleInvoices</h3>
                <div id="breadcrumbs">
                    <ul>
                        <li><span>@Resources.Resource.Sale_Sales</span></li>
                        <li>
                            <a href="/SaleInvoice/Dashboard/">
                                @Resources.Resource.Sale_SaleInvoices
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="con_body">
    <div class="container">
        <div class="c_container">
            <div id="toolbar" class="toolbar">
                <div class="btn-group">
                    <button type="button" onclick="NewSalePurchase(0);" class="btn btn-defaultxero">@Resources.Resource.SaleInvoice_DashboardCreate_Invoice</button>
                    <button type="button" style="margin-left: -10px;" class="btn btn-defaultxero dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>

                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="/SaleInvoice/CreateRepeatingInvoice/">
                                @Resources.Resource.SaleInvoice_DashboardCreate_RepeatingInvoice
                            </a>
                        </li>
                    </ul>
                    <div class="btn-group" style="margin-left: 10px;">
                        <button type="button" onclick="NewSalePurchase(4);" class="btn btn-defaultxero">@Resources.Resource.SaleInvoice_DashboardCreate_CreateditNote</button>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("Draft", "SaleInvoice", FormMethod.Get))
            {
                <div id="searchDraft" style="display: inline;">
                    <div class="divitemleft">
                        <label>@Resources.Resource.SaleInvoice_Dashboard_RefOrContact</label>
                        @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "textbox" })
                    </div>
                    <div class="divitemleft">
                        <label>@Resources.Resource.SaleInvoice_Dashboard_SearchWith</label>
                        <select id="type" name="type" class="ddl">
                            <option value="0">@Resources.Resource.Common_AnyDate</option>
                            <option value="1">@Resources.Resource.Common_TransactionDate</option>
                            <option value="2">@Resources.Resource.Common_DueDate</option>
                        </select>
                    </div>
                    <div class="divitemleft">
                        <label>@Resources.Resource.Invoice_StartDate</label>
                        @Html.TextBox("createdate", ViewBag.CreateDate as string, new { @class = "dtFrom textboxdate" })
                    </div>
                    <div class="divitemleft">
                        <label>@Resources.Resource.Invoice_EndDate</label>
                        @Html.TextBox("duadate", ViewBag.DueDate as string, new { @class = "dtTo textboxdate" })
                    </div>
                    <div class="divitemright">
                        <a href="javascript:void(0);" id="aClearDraft">@Resources.Resource.Common_Clear</a>&nbsp;
                        <input type="submit" value="@Resources.Resource.SaleInvoice_DashboardCreate_Search" id="btnSearch" class="btn btn-defaultxero" />
                    </div>
                </div>
            }
            <div style="clear: both; height: 10px;"></div>

            <ul class="nav nav-tabs">
                @{           
                    var db = new ErpEntities();
                    var invoice = db.SaleInvoices.ToList();          
                }
                <li><a href="/SaleInvoice/All">All&nbsp;(@invoice.Count(x => x.Status >= 0))</a></li>
                <li class="active"><a href="/SaleInvoice/Draft/">Draft&nbsp;(@invoice.Count(x => x.Status == 0 | x.Status == 5))</a></li>
                <li><a href="/SaleInvoice/Awaiting/">Awaiting Approval&nbsp;(@invoice.Count(x => x.Status == 1))</a></li>
                <li><a href="/SaleInvoice/AwaitingPayment/">Awaiting Payment&nbsp;(@invoice.Count(x => x.Status == 2))</a></li>
                <li><a href="/SaleInvoice/Paid/">Paid&nbsp;(@invoice.Count(x => x.Status == 3))</a></li>
                <li><a href="/SaleInvoice/Repeating/">Repeating&nbsp;(@invoice.Count(x => x.Status == 4))</a></li>
            </ul>
            <div style="clear: both; height: 10px;"></div>
            <div class="bovien" id="function">
                <input type="submit" id="btnSubmitApp" value="@Resources.Resource.SaleInvoice_Dashboard_SubmitForApproved" class="btn btn-defaultxero"/>
                <input type="submit" id="btnApproved" value="@Resources.Resource.SaleInvoice_Dashboard_Approved" class="btn btn-defaultxero" />
                <input type="submit" id="btnDelete" value="@Resources.Resource.SaleInvoice_Dashboard_Deleted" class="btn btn-defaultxero" />
                @*                    <input type="submit" id="btnPrint" value="@Resources.Resource.SaleInvoice_Dashboard_Print" class="btn btn-defaultxero" />
                    <input type="submit" id="btnEmail" value="@Resources.Resource.SaleInvoice_Dashboard_Email" class="btn btn-defaultxero" />*@
            </div>
            <div id="tabbody">
                <div id="tabs-1">
                    <table class="tableOver">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="cbCheckAllDraft" /></th>
                                <th>
                                    <span>
                                        @Resources.Resource.SaleInvoice_List_Number</span>
                                </th>
                                <th>@Resources.Resource.SaleInvoice_Create_Reference
                                </th>
                                <th>@Resources.Resource.SaleInvoice_Create_To
                                </th>
                                <th>
                                    @Resources.Resource.Common_Sale_Date
                                    <span style="float: right;">
                                        <a href="javascript:void(0);" onclick="SortDate('desc');">
                                            <img src="~/Images/sort_asc.png" />
                                        </a>
                                        <a href="javascript:void(0);" onclick="SortDate('asc');">
                                            <img src="~/Images/sort_desc.png" />
                                        </a>
                                    </span>
                                </th>
                                <th>@Resources.Resource.Common_Sale_DueDate
                                </th>
                                <th>@Resources.Resource.SaleInvoice_Create_Amount
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.CheckBox("chkDraft", false, new { id = item.ID })
                                    </td>
                                    <td>
                                        <a href="/SaleInvoice/Edit/@item.ID">@Html.DisplayFor(modelItem => item.Code)</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Reference)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ContactName)
                                    </td>
                                    <td>
                                        @TMT.ERP.Commons.Utility.DateFormat(item.CreatedDate)
                                    </td>
                                    <td>
                                        @if (item.DueDate != null)
                                        {
                                            @TMT.ERP.Commons.Utility.DateFormat(Convert.ToDateTime(item.DueDate))
                                        }
                                    </td>
                                    @if (item.Type == 1)
                                    {
                                        <td>(<span class="currency">@item.TotalMoney</span>)
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <span class="currency">@item.TotalMoney</span>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div style="height: 50px; padding-top: 5px;">
                        <div style="float: left;">
                            @Html.PagedListPager(Model, page => Url.Action("Draft", new { page, currentFilter = ViewBag.CurrentFilter, type = 0, createdate = ViewBag.CreateDate, duadate = ViewBag.DueDate }))
                        </div>
                        <div style="width: 25%; float: right;">
                            <label style="margin-left: 70px; margin-top: 10px;">@Resources.Resource.Common_PageSize</label>
                            <div id="showpag" class="dropdown" style="float: right;">
                                <span class="dropdown-toggle" data-toggle="dropdown" id="sPageSize"></span>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);" onclick="SetPageSize(10);">10</a></li>
                                    <li><a href="javascript:void(0);" onclick="SetPageSize(25);">25</a></li>
                                    <li><a href="javascript:void(0);" onclick="SetPageSize(50);">50</a></li>
                                    <li><a href="javascript:void(0);" onclick="SetPageSize(100);">100</a></li>
                                    <li><a href="javascript:void(0);" onclick="SetPageSize(200);">200</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="confirmDel" title="Confirm!"></div>
                </div>
                <div class="cleardiv"></div>
                <div id="error">
                    <label>
                        @Resources.Resource.SaleInvoices_Error
                    </label>
                </div>
                <div class="cleardiv"></div>
            </div>

        </div>
    </div>
</div>
