@using TMT.ERP.Commons
@using TMT.ERP.DataAccess.Model
@model IEnumerable<TMT.ERP.DataAccess.Model.SaleInvoiceDetail>
<script type="text/javascript">
    $(document).ready(function () {
        $('a#viewbill').click(function () {
            
            var id = $(this).attr('title');
            var totalmoney = $('#totalmoney').attr('title');
            window.location.href = "/SaleInvoice/ViewBill?id=" + id + "&totalmoney=" + totalmoney;
        });
        $('#btnAdd').click(function () {
            var value = $('#noteAdd').css('display');
            if (value == 'none') {
                $('#noteAdd').css('display', 'block');
            } else {
                $('#noteAdd').css('display', 'none');
            }
        });
        $('#btnCancel').click(function () {
            $('#noteAdd').css('display', 'none');
        });
        $('#btnShow').click(function () {
            
            var saleInvoidId = $('#hdSaleInvoicesId').val();
            $.ajax(
                {
                    type: 'POST',
                    url: '/Note/GetNotesAwaitingPaymentDetail/',
                    data: { 'saleInvoidId': saleInvoidId },
                    success: function (data) {
                        $('#noteShow').html(data);
                    }
                });
            var value = $('#noteShow').css('display');
            if (value == 'none') {
                $('#noteShow').css('display', 'block');
            } else {
                $('#noteShow').css('display', 'none');
            }
        });
        $('#btnSave').click(function () {
            
            var noteFromId = $('#hdSaleInvoicesId').val();
            var createDate = "";
            var notes = $('#txtNotes').val();
            var type = 4;
            var expectedDate = "";
            $.ajax(
                {
                    type: 'POST',
                    url: '/Note/Create/',
                    data: {
                        "noteFromId": noteFromId,
                        "createDate": createDate,
                        "notes": notes,
                        "type": type,
                        "status": 0,
                        "changes": "Note",
                        "expectedDate": expectedDate
                    },
                    success: function (data) {
                    }
                });
            var value = $('#noteAdd').css('display');
            if (value == 'none') {
                $('#noteAdd').css('display', 'block');
            } else {
                $('#txtNotes').val('');
                $('#noteAdd').css('display', 'none');
                $.ajax(
                    {
                        type: 'POST',
                        url: '/Note/GetNotesAwaitingPaymentDetail/',
                        data: { 'saleInvoidId': noteFromId },
                        success: function (data) {
                            $('#noteShow').empty();
                            $('#noteShow').html(data);
                            var valueShow = $('#noteShow').css('display');
                            if (valueShow == 'none') {
                                $('#noteShow').css('display', 'block');
                            }
                        }
                    });
            }
        });
    });
</script>
@{
    var objSale = ViewBag.objSale as SaleInvoice;
}
<input type="hidden" value="@ViewBag.IDPayment" id="hdSaleInvoicesId" name="hdSaleInvoicesId"/>
<div id="breadcrumb">
    <div class="container">
        <div id="con_top">
            <div class="c_container">
                <h3>Invoice @objSale.Code</h3>
                <div id="breadcrumbs">
                    <ul>
                        <li><span>@Resources.Resource.Sale_Sales</span></li>
                        <li>
                            <a href="/SaleInvoice/Dashboard/">
                                @Resources.Resource.Sale_SaleInvoices
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cleardiv"></div>
<div id="con_body">
    <div class="container">
        <div class="c_container">
            <div id="form_body">
                <div class="cleardiv"></div>
                <div class="paymentdetail">
                    <div class="left">
                        <label>@Resources.Resource.SaleInvoice_Create_To</label>
                        <div class="cleardiv"></div>
                        <a href="javascript:void(0);">@objSale.ContactName</a>
                        <input type="hidden" id="hdfTo" value="@objSale.ContactName"/>
                    </div>
                    <div class="left">
                        <label>@Resources.Resource.SaleInvoice_Create_Date</label>
                        <div class="cleardiv"></div>
                        @TMT.ERP.Commons.Utility.DateFormat(objSale.CreatedDate)
                    </div>
                    <div class="left">
                        <label>@*@Resources.Resource.SaleInvoice_Create_DueDate*@
                            Due Date
                        </label>
                        <div class="cleardiv"></div>
                        @if (objSale.DueDate != null)
                        {
                            @TMT.ERP.Commons.Utility.DateFormat(Convert.ToDateTime(objSale.DueDate))
                        }
                    </div>
                    <div class="left">
                        <label>@*@Resources.Resource.SaleInvoice_Create_InvoiceNo*@
                            SO #
                        </label>
                        <div class="cleardiv"></div>
                        @objSale.Code
                    </div>
                    <div class="left">
                        <label>@Resources.Resource.SaleInvoice_Create_Reference</label>
                        <div class="cleardiv"></div>
                        @if (objSale.Reference != null)
                        {
                            @objSale.Reference
                        }
                    </div>
                    @*<div class="right">
                        <label>Total</label>
                        <div class="cleardiv"></div>
                        @if (objSale.TotalMoney != null)
                        {
                            <label class="currency">@objSale.TotalMoney</label>
                        }
                    </div>*@
                </div>
                <div class="cleardiv"></div>
                <hr style="margin: 5px !important;" />
                <table>
                    <thead>
                        <tr>
                            <th>
                                @Resources.Resource.SaleInvoice_Await_GoodCode
                            </th>
                            <th>
                                @Resources.Resource.SaleInvoice_Await_Description
                            </th>
                            <th>
                                @Resources.Resource.SaleInvoice_Await_Quanlity
                            </th>
                            <th>
                                @Resources.Resource.SaleInvoice_Await_Price
                            </th>
                            <th>
                                @Resources.Resource.SaleInvoice_Await_Discount
                            </th>
                            <th>
                                @Resources.Resource.SaleInvoice_Await_Account
                            </th>
                            <th>
                                @Resources.Resource.SaleInvoice_Await_TaxRate
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>                                    
                                    @item.Good.Code
                                </td>
                                <td>                                    
                                    @item.Description
                                </td>
                                <td class="currency">
                                    @item.Quantity
                                </td>
                                <td class="currency">
                                    @if (item.Price != null)
                                    {
                                        @item.Price
                                    }
                                </td>
                                <td class="currency">
                                    @if (item.Discount != null)
                                    {
                                        @item.Discount    
                                    }
                                </td>
                                <td>
                                    @if (item.Account.Name != null)
                                    {
                                        @item.Account.Name
                                    }
                                </td>
                                <td>
                                    @if (item.TaxRate.Name != null)
                                    {
                                        @item.TaxRate.Name    
                                    }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="cleardiv"></div>
                <div class="paymentdetail">
                    @{
                        ErpEntities db = new ErpEntities();
                        Dictionary<double?, double?> dicTax = new Dictionary<double?, double?>();
                        List<SaleInvoiceDetail> ooInvoiceDetails = null;
                        List<int?> listTax = null;
                        int ID = (int)objSale.ID;
                        ooInvoiceDetails = objSale.SaleInvoiceDetails.OrderBy(i => i.TaxRateID).ToList();
                        listTax = ooInvoiceDetails.Select(details => details.TaxRateID).Distinct().ToList();
                        foreach (var taxRateID in listTax)
                        {
                            TaxRate tax = db.TaxRates.Find(taxRateID);
                            double? rate = tax.Rate;
                            double amount = 0;
                            foreach (var item in ooInvoiceDetails)
                            {
                                if (item.TaxRateID == taxRateID)
                                {
                                    amount += Convert.ToDouble(item.Price * item.Quantity);
                                }
                            }
                            dicTax.Add(rate, amount * rate / 100);
                        }
                    }
                    <div class="right">
                        <div class="labelleft">
                            <label>@Resources.Resource.SaleInvoice_Await_SubTotal</label>
                            <div class="cleardiv"></div>
                            @foreach (var item in dicTax)
                            {
                                <label>
                                    Total Tax @Html.Raw(item.Key)@Html.Raw("%")
                                </label>
                                <div class="cleardiv"></div>
                            }
                        </div>
                        <div class="labelright">
                            <label class="currency">@objSale.TotalMoney</label>
                            <div class="cleardiv"></div>
                            @foreach (var item in dicTax)
                            {
                                <label class="currency">
                                    @Html.Raw(item.Value)
                                </label>
                                <div class="cleardiv"></div>
                            }

                        </div>
                        <div class="cleardiv"></div>
                        <hr style="margin: 5px !important;" />
                        <div class="labelleft">
                            <b>@Resources.Resource.SaleInvoice_Await_Total</b>
                        </div>
                        <div class="labelright">
                            <b class="currency">@ViewBag.Total</b>
                        </div>
                        <hr style="margin: 5px !important;" />
                        <div class="labelleft">
                            <b>@Resources.Resource.SaleInvoice_Await_AmountDue</b>
                        </div>
                        <div class="labelright">
                            <b class="currency">
                                @{
                                    var result = Convert.ToDouble(ViewBag.Total) - Convert.ToDouble(ViewBag.LessPayment);
                                }
                                @result
                            </b>
                        </div>
                        <div class="cleardiv"></div>
                        <hr style="margin: 5px !important;" />
                        <div class="labelleft">
                        </div>
                        @foreach (var itemPayment in (ViewBag.PayList as List<Payment>))
                        {
                            <div class="labelleft">
                                <label>Less</label>
                                <div class="cleardiv"></div>
                                <label>@TMT.ERP.Commons.Utility.DateFormat(Convert.ToDateTime(itemPayment.CreatedDate))</label>
                            </div>
                            <div class="labelright">
                                <a href="javascript:void(0);" id="viewbill" title="@itemPayment.ID">
                                    <label class="currency">@itemPayment.TotalMoney</label></a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="paymentdetail">
                <h3>History & Notes</h3>
                <div class="tablefooter">
                    <div class="cleardiv"></div>
                    <input type="submit" value="Show History" id="btnShow" class="showhistory" />
                    <input type="submit" value="Add Note" id="btnAdd" class="addline" />
                    <div class="cleardiv"></div>
                    <div style="display: none;" id="noteAdd">
                        <div style="width: 25%;">
                            Notes:
                            <textarea id="txtNotes" class="txt_box1" cols="40" rows="5"></textarea>
                        </div>
                        &nbsp;&nbsp;                          
                        <div style="width: 25%;">
                            <input type="submit" value="Save" id="btnSave" class="btn btn-defaultxero" />
                            <input type="submit" value="Cancel" id="btnCancel" class="btn btn-defaultxero" />
                        </div>
                    </div>
                    <div class="cleardiv"></div>
                    <div style="display: none;" id="noteShow">
                    </div>
                </div>
                <input type="hidden" id="hdfUserID" value="@AppContext.RequestVariables.CurrentUser.ID"/>
            </div>
            <div class="cleardiv"></div>
        </div>
    </div>
</div>
