@using PagedList.Mvc;
@using TMT.ERP.DataAccess.Model
@model PagedList.IPagedList<TMT.ERP.DataAccess.Model.SaleInvoice>
@{
    var user = TMT.ERP.Commons.AppContext.RequestVariables.CurrentUser;
}
<script type="text/javascript">
    $(document).ready(function () {
        SetTypeSearch("0");
        $('#searchString').val('');
        $('#createdate').val('');
        $('#duadate').val('');
        $('#sPageSize').html($('#hdfPageSize').val());
        var countModel = $('#hdfCountList').val();
        if (countModel == 0) {
            $('#error').css('display', 'block');
            $('#tabs-1').css('display', 'none');
            $('#fuction').css('display', 'none');
        } else {
            $('#error').css('display', 'none');
        }
        $('#type').change(function () {
            var x = $(this).val();
            SetTypeSearch(x);
        });
        $('#cbCheckAllRepeatingAll').click(function () {
            $("input[name=chkRepeat]").prop('checked', $(this).prop('checked'));
        });
        $('#btnDelete').click(function () {
            debugger;
            var valueString = [];
            $("input[name=chkRepeat]:checked").each(
                function () {
                    valueString.push(this.id);
                }
            );
            var value = {
                saleId: valueString,
                status: '-1',
            };
            if (valueString.length != 0) {
                $('#confirmDel').empty();
                $('#confirmDel').append('<p style="text-align:center;font-weight:bold;">@Resources.Resource.TMT_Index_ConfirmDel</p>');
                $("#confirmDel").dialog({
                    modal: true,
                    height: 140,
                    autoOpen: false,
                    buttons: {
                        'Agree': function () {
                            _Delete(value);
                        },
                        Cancel: function () {
                            $(this).dialog('close');
                        }
                    }
                });
                $('#confirmDel').dialog('open');
            } else {
                $('#confirmDel').empty();
                $('#confirmDel').append('<p style="text-align:center;font-weight:bold;">@Resources.Resource.Common_Msg_NotSelectDelete</p>');
                $("#confirmDel").dialog({
                    modal: true,
                    height: 140,
                    autoOpen: false,
                    buttons: {
                        'OK': function () {
                            $(this).dialog('close');
                        }
                    }
                });
                $('#confirmDel').dialog('open');
            }
        });
        $('#aClearReapeating').unbind('click').click(function () {
            $('#searchString').val('');
            $('#type').val(0);
            $('#createdate').val('');
            $('#duadate').val('');
        });
    });
    function _Delete(value) {
        $.ajax(
            {
                type: 'POST',
                url: '/SaleInvoice/SubmitForApproval/',
                traditional: true,
                data: value,
                success: function () {
                    $.ajax(
                        {
                            type: 'POST',
                            success: function () {
                                window.location.href = '/SaleInvoice/Repeating/';
                            }
                        });
                }
            });
    }
    function SetPageSize(pageSize) {
        $.ajax(
            {
                type: 'POST',
                url: '/SaleInvoice/SetPageSize',
                data: { "pageSize": pageSize },
                success: function () {
                    location.reload();
                }
            });
    }
    function SetTypeSearch(typeSearch) {
        $.ajax(
            {
                type: "POST",
                url: "/SaleInvoice/SetTypeSearch/",
                data:
                    {
                        "typeSearch": typeSearch
                    },
                success: function () {

                }
            });
    }
</script>
<input type="hidden" value="@ViewBag.PageSize" id="hdfPageSize"/>
<input type="hidden" value="@Model.Count" id="hdfCountList"/>
<div id="breadcrumb">
    <div class="container">
        <div id="con_top">
            <div class="c_container">
                <h3>@Resources.Resource.Sale_SaleInvoices</h3>
                <div id="breadcrumbs">
                    <ul>
                        <li><span>@Resources.Resource.Sale_Sales</span></li>
                        <li>
                            <a href="/SaleInvoice/Dashboard/">
                                @Resources.Resource.Sale_SaleInvoices
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="con_body">
    <div class="container">
        <div class="c_container">
            <div id="toolbar" class="toolbar">
                <div class="btn-group">
                    <button type="button" onclick="NewSalePurchase(0);" class="btn btn-defaultxero">@Resources.Resource.SaleInvoice_DashboardCreate_Invoice</button>
                    <button type="button" style="margin-left: -10px;" class="btn btn-defaultxero dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>

                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="/SaleInvoice/CreateRepeatingInvoice/">
                                @Resources.Resource.SaleInvoice_DashboardCreate_RepeatingInvoice
                            </a>
                        </li>
                    </ul>
                    <div class="btn-group" style="margin-left: 10px;">
                        
                        <button type="button" onclick="NewSalePurchase(4);" class="btn btn-defaultxero">@Resources.Resource.SaleInvoice_DashboardCreate_CreateditNote</button>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("Repeating", "SaleInvoice", FormMethod.Get))
            {
                <div id="searchDraft" style="display: inline;">
                    <div class="divitemleft">
                        <label>@Resources.Resource.SaleInvoice_Dashboard_RefOrContact</label>
                        @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "textbox" })
                    </div>
                    <div class="divitemleft">
                        <label>@Resources.Resource.SaleInvoice_Dashboard_SearchWith</label>
                        <select id="type" name="type" class="ddl">
                            <option value="0">@Resources.Resource.Common_AnyDate</option>
                            <option value="4">@Resources.Resource.Common_NextInvoiceDate</option>
                            <option value="5">@Resources.Resource.Common_EndDate</option>
                        </select>
                    </div>
                    <div class="divitemleft">
                        <label>@Resources.Resource.Invoice_StartDate</label>
                        @Html.TextBox("createdate", ViewBag.CreateDate as string, new { @class = "dtFrom textboxdate" })
                    </div>
                    <div class="divitemleft">
                        <label>@Resources.Resource.Invoice_EndDate</label>
                        @Html.TextBox("duadate", ViewBag.DueDate as string, new { @class = "dtTo textboxdate" })
                    </div>
                    <div class="divitemright">
                        <a href="javascript:void(0);" id="aClearReapeating">@Resources.Resource.Common_Clear</a>&nbsp;
                        <input type="submit" value="@Resources.Resource.SaleInvoice_DashboardCreate_Search" id="btnSearch" class="btn btn-defaultxero" />
                    </div>
                </div>
            }
            <div class="cleardiv"></div>
            <ul class="nav nav-tabs">
                @{           
                    var db = new ErpEntities();
                    var invoice = db.SaleInvoices.ToList();          
                }

                <li><a href="/SaleInvoice/All">All&nbsp;(@invoice.Count(x => x.Status>=0))</a></li>
                <li><a href="/SaleInvoice/Draft/">Draft&nbsp;(@invoice.Count(x => x.Status == 0 | x.Status == 5))</a></li>
                <li><a href="/SaleInvoice/Awaiting/">Awaiting Approval&nbsp;(@invoice.Count(x => x.Status == 1))</a></li>
                <li><a href="/SaleInvoice/AwaitingPayment/">Awaiting Payment&nbsp;(@invoice.Count(x => x.Status == 2))</a></li>
                <li><a href="/SaleInvoice/Paid/">Paid&nbsp;(@invoice.Count(x => x.Status == 3))</a></li>
                <li class="active"><a href="/SaleInvoice/Repeating/">Repeating&nbsp;(@invoice.Count(x => x.Status == 4))</a></li>
            </ul>
            <div class="cleardiv"></div>
            <div class="bovien" id="fuction">
                <input type="submit" id="btnDelete" value="@Resources.Resource.SaleInvoice_Dashboard_Deleted" class="btn btn-defaultxero" />
            </div>
            <div id="tabbody">
                <div id="tabs-1">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="cbCheckAllRepeatingAll" /></th>
                                <th>@Resources.Resource.SaleInvoice_Create_Item
                                </th>
                                <th>@Resources.Resource.SaleInvoice_Create_Reference
                                </th>
                                <th>@Resources.Resource.SaleInvoice_Create_Amount
                                </th>
                                <th>@Resources.Resource.SaleInvoice_List_Repeating
                                </th>
                                <th>@Resources.Resource.SaleInvoice_List_NextInvoiceDate
                                </th>
                                <th>@Resources.Resource.SaleInvoice_List_EndDate
                                </th>
                                <th>@Resources.Resource.SaleInvoice_List_InvoiceWillBe
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                var objRepeat = ViewBag.ObjRepeating(item.ID) as Repeating;
                                <tr>
                                    <td>
                                        @Html.CheckBox("chkRepeat", false, new { id = item.ID })
                                    </td>
                                    <td>

                                        <a href="/SaleInvoice/EditRepeating/@item.ID">@item.Code</a>

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Reference)
                                    </td>
                                    @if (item.Type == 1)
                                    {
                                        <td>(<span class="currency">@item.TotalMoney</span>)
                                        </td>    
                                    }
                                    else
                                    {
                                        <td>
                                            <span class="currency">@item.TotalMoney</span>
                                        </td>    
                                    }

                                    <td>
                                        @if (objRepeat != null)
                                        {
                                            string xRepeat = "";
                                            var x = objRepeat.RepeatTime;
                                            if (x == 1)
                                            {
                                                xRepeat = "Every " + objRepeat.NumDayRepeat + " Month";
                                            }
                                            else
                                            {
                                                xRepeat = "Every " + objRepeat.NumDayRepeat + " Weeks";
                                            }
                                            @xRepeat
                                        }
                                    </td>
                                    <td>
                                        @if (objRepeat != null)
                                        {
                                            @TMT.ERP.Commons.Utility.DateFormat(Convert.ToDateTime(objRepeat.DateRun))
                                        }
                                    </td>
                                    <td>
                                        @if (objRepeat != null && objRepeat.EndDate != null)
                                        {
                                            @TMT.ERP.Commons.Utility.DateFormat(Convert.ToDateTime(objRepeat.EndDate))
                                        }
                                    </td>
                                    <td>@if (objRepeat != null)
                                        {
                                            if (objRepeat.Status == 0)
                                            {
                                        @Html.Raw("Save as draft")
                                            }
                                            else if (objRepeat.Status == 1)
                                            {
                                        @Html.Raw("Approve ")                            
                                            }
                                            else if (objRepeat.Status == 2)
                                            {
                                        @Html.Raw("Approve and Sent")
                                            }
                                            else
                                            {
                                        @Html.Raw("None")
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div id="confirmDel" title="Confirm!"></div>
                    <div style="height: 50px; padding-top: 5px;">
                        <div style="float: left;">
                            @Html.PagedListPager(Model, page => Url.Action("Repeating", new { page, currentFilter = ViewBag.CurrentFilter, type = 0, createdate = ViewBag.CreateDate, duadate = ViewBag.DueDate }))
                        </div>
                        <div style="width: 25%; float: right;">
                            <label style="margin-left: 70px; margin-top: 10px;">Showing&nbsp;</label>
                            <div id="showpag" class="dropdown" style="float: right;">
                                <span class="dropdown-toggle" data-toggle="dropdown" id="sPageSize"></span>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);" onclick="SetPageSize(10);">10</a></li>
                                    <li><a href="javascript:void(0);" onclick="SetPageSize(25);">25</a></li>
                                    <li><a href="javascript:void(0);" onclick="SetPageSize(50);">50</a></li>
                                    <li><a href="javascript:void(0);" onclick="SetPageSize(100);">100</a></li>
                                    <li><a href="javascript:void(0);" onclick="SetPageSize(200);">200</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cleardiv"></div>
                <div id="error">
                    <label>
                        @Resources.Resource.SaleInvoices_Error
                    </label>
                </div>
                <div class="cleardiv"></div>
            </div>
        </div>
    </div>
</div>
