@*@model IEnumerable<TMT.ERP.DataAccess.Model.WorkOrder>*@
@using TMT.ERP.DataAccess.Model
@using PagedList.Mvc;
@model PagedList.IPagedList<TMT.ERP.DataAccess.Model.WorkOrder>
@{
    var user = TMT.ERP.Commons.AppContext.RequestVariables.CurrentUser;
}

@{
    ViewBag.Title = "WorkOrder List";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#sPageSize').html($('#hdfPageSize').val());
        $('#btnAddNewWorkOrder').click(function () {
            window.location.href = "/WorkOrder/Create";
        });

        $('#aDone').click(function () {
            $(this).parent().addClass('active');
            $('#aDraft').parent().removeClass('active');
            $('#aDraft').parent().addClass('selected');


            $.post(encodeURI("/WorkOrder/GetWorkOrderDone"),
                        function (data) {
                            $('#tableload').css('display', 'block');
                            $('#tableload').empty();
                            $('#tableload').html(data);
                        });

        });


        $('#aDraft').click(function () {
            $(this).parent().addClass('active');
            $('#aDone').parent().removeClass('active');
            $('#aDone').parent().addClass('selected');
            $('#tabledone').css('display', 'none');
            $('#tabledraft').css('display', 'block');
            $.ajax(
                {
                    type: "POST",
                    url: "/workorder/workorderlist",
                    success: function () {
                        window.location.href = "/workorder/workorderlist";
                    }
                });
        });

        $('#btnSearch').click(function () {

        });

        $('#btnDelete').click(function () {
            var retConfirm = confirm('@Resources.Resource.Common_ConfirmDelete');
            if (retConfirm)
                UpdateStatus('-1');

        });

        $('#btnApproval').click(function () {
            UpdateStatus(2);
        });
    });


    function UpdateStatus(status) {
        var arrayData = [];
        $("input[name=chkDraft]:checked").each(function () {
            var item = {
                "WorkOrderID": this.id
            };
            arrayData.push(item);
        });
        var workOrders = JSON.stringify(arrayData);

        $.ajax({
            type: "POST",
            url: "/Services/WorkOrderService.asmx/UpdateStatus",
            data: JSON.stringify({
                workOrders: workOrders,
                status: status
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var retValue = JSON.parse(data.d);
                if (retValue == "Success")
                    window.location.href = "/WorkOrder/WorkOrderList/";
            }
        });
    }

    function SetPageSize(pageSize) {
        $.ajax(
            {
                type: 'POST',
                url: '/WorkOrder/SetPageSize',
                data: { "pageSize": pageSize },
                success: function () {
                    location.reload();
                }
            });
    }
</script>

<div id="breadcrumb">
    <input type="hidden" value="@ViewBag.PageSize" id="hdfPageSize"/>
	<div class="container">		
		<div id="con_top">
			<div class="c_container">
				<h3>@Resources.Resource.Common_WorkOrder</h3>
				<div id="breadcrumbs">
					<ul>
						<li><span>@Resources.Resource.Common_Accounts</span></li>
						<li><a href="#">@Resources.Resource.WorkOrder_List_NewWorkOrder</a></li>
					</ul>		
				</div>
			</div>
		</div>
		
	</div>
</div>

<div id="con_body">
<div class="container">
	<div class="c_container">
        <div style="display: inline;">
            <div style="float: left; width: 50%;">
                <div style="clear: both; height: 10px;"></div>
                <input type="submit" value="@Resources.Resource.Common_Add" id="btnAddNewWorkOrder" class="btn btn-defaultxero">
            </div>
            <div style="float: right; width: 50%;">
                    @using (Html.BeginForm("All", "WorkOrder", FormMethod.Post, new { style = "margin:10px !important;" }))
                    {
                        @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @style = "width: 300px;float:left;margin-right: 1px;", placeholder = "Please insert WorkOrder Code" })
                        //@Html.TextBox("searchString", "abcde", new { @class = "form-control required" })
                        <button id="btnSearch" type="submit" class="btn btn-defaultxero">@Resources.Resource.Common_Search</button>
                    }
            </div>
        </div>

        <div style="clear: both; height: 10px;"></div>
        @*<div id="tabcontent">*@
            <ul class="nav nav-tabs">
                @{           
                    var manager = new TMT.ERP.BusinessLogic.Managers.GenericManager<WorkOrder>();
                    var workOrder = manager.Get().ToList();
                }

                <li class="active"><a href="/WorkOrder/All">@Resources.Resource.Common_All (@workOrder.Count(x=>x.Status!=-1))</a></li>
                <li><a href="/WorkOrder/Pending/">@Resources.Resource.Common_Pending (@workOrder.Count(x => x.Status == 0))</a></li>
                <li><a href="/WorkOrder/AwaitingApproval/">@Resources.Resource.Common_AwaitingApproval (@workOrder.Count(x => x.Status == 1))</a></li>
                <li><a href="/WorkOrder/AwaitingOutgoingShipment/">@Resources.Resource.Common_AwaitingOutgoingShipment (@workOrder.Count(x => x.Status == 2))</a></li>
                <li><a href="/WorkOrder/Completed/">@Resources.Resource.Common_Completed (@workOrder.Count(x => x.Status == 3))</a></li>
            </ul>
        @*</div>*@
        <div style="clear: both; height: 10px;"></div>
        <div id="tabbody">
            <div id="tabs-1">
                <table class="tableOver">
                    <thead>
                        <tr>
                            <th>@Resources.Resource.Common_WorkOrder</th>
                            <th>@Resources.Resource.WorkOrder_List_AssembledBy</th>
                            <th>@Resources.Resource.Common_CreateDate</th>                
                            <th>@Resources.Resource.Common_Stock</th>
                            <th>@Resources.Resource.Common_Item</th>
                            <th>@Resources.Resource.Common_Quantity</th>
                            <th>@Resources.Resource.Common_Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><a href="/WorkOrder/Edit/@item.ID">@Html.DisplayFor(modelItem => item.Code)</a></td>
                            <td>@Html.DisplayFor(modelItem => item.User.UserName)</td>
                            <td>@item.CreatedDate.ToString("dd-MMM-yyyy")</td>
                            <td>@Html.DisplayFor(modelItem => item.Stock.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Good.Code)</td>
                            <td>@Html.DisplayFor(modelItem => item.OrderQuantity)</td>
                            <td>
                                @{
                                    string result = "";
                                    switch (item.Status)
                                    {
                                        case 0:
                                            result = Resources.Resource.Common_Pending;
                                            break;
                                        case 1:
                                            result = Resources.Resource.Common_AwaitingApproval;
                                            break;
                                        case 2:
                                            result = Resources.Resource.Common_AwaitingOutgoingShipment;
                                            break;
                                        case 3:
                                            result = Resources.Resource.Common_Completed;
                                            break;
                                        case -1:
                                            result = Resources.Resource.SaleInvoice_List_Delete;
                                            break;
                                    }
                                }
                                @Html.Raw(result)

                            </td>
                        </tr>            
                    }
                    </tbody>

                </table>

                @if (Model.Count>0)
                {
                    <div style="height: 50px; padding-top: 5px;">
                        <div style="width: 70%; float: left;">
                            @Html.PagedListPager(Model, page => Url.Action("All", new { page, currentFilter = ViewBag.CurrentFilter, type = 0, createdate = ViewBag.CreateDate, duadate = ViewBag.DueDate }))
                        </div>
                        <div style="width: 25%; float: right;">
                            <label style="margin-left: 70px; margin-top: 10px;">Showing&nbsp;</label>
                            <div id="showpag" class="dropdown" style="float: right;">
                                <span class="dropdown-toggle" data-toggle="dropdown" id="sPageSize"></span>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);" onclick="SetPageSize(10);">10</a></li>
                                    <li><a href="javascript:void(0);" onclick="SetPageSize(25);">25</a></li>
                                    <li><a href="javascript:void(0);" onclick="SetPageSize(50);">50</a></li>
                                    <li><a href="javascript:void(0);" onclick="SetPageSize(100);">100</a></li>
                                    <li><a href="javascript:void(0);" onclick="SetPageSize(200);">200</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div id="divNoRecord">@Resources.Resource.Common_Msg_CountDisplay</div>
                }

                </div>
            </div>
        </div>
    </div>
</div>


